{% extends 'base.html' %}

{% block content %}

{% if name %}
    <h1>Hello {{ name }}</h1>
    <br>
    <img src="{{ url_for('static', filename='images/Shigatsu wa kimi no uso.jpg') }}" width="1100">

    <br><br>

    <p id="demo"></p>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% else %}
    <h1>What's Your Name ?</h1>
    <br>
    <form method="POST">

        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        <br>
        {{ form.submit(class="btn btn-primary") }}

    </form>
{% endif %}

{% endblock %}